extends layout

block content
  main#about
    h1.lg-heading
      | About
      span.text-secondary Me
    h2.sm-heading
      | Let me tell you a few things...
    .about-info
      img.bio-image
      .bio
        h3.text-secondary BIO
        p
          | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt magni nam nisi quae vitae? Quod molestiae ipsa
          | autem natus eum vel ducimus nulla harum voluptatem eligendi! Unde, reiciendis? Praesentium, laborum.
      .job.job-1
        h3 123 Webshop
        h6 Full Stack Developer
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates perferendis totam enim. Nesciunt porro dolores
          | expedita dolor necessitatibus deserunt nemo.
      .job.job-2
        h3 Designers ABC
        h6 Front End Developer
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates perferendis totam enim. Nesciunt porro dolores
          | expedita dolor necessitatibus deserunt nemo.
      .job.job-3
        h3 Webworks
        h6 Graphic Designer
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates perferendis totam enim. Nesciunt porro dolores
          | expedita dolor necessitatibus deserunt nemo.
  footer#main-footer
    | Copyright &copy; 2018
  script(src='js/main.js')
