extends layout

block content
  main#contact
    h1.lg-heading
      | Contact
      span.text-secondary Me
    h2.sm-heading
      | This is how you can reach me...
    .boxes
      div
        span.text-secondary Email: 
        |  johndoe@test.com
      div
        span.text-secondary Phone: 
        |  (555) 555-5555
      div
        span.text-secondary Address: 
        |  50 Main st Boston MA 02101
  footer#main-footer
    | Copyright &copy; 2018
  script(src='js/main.js')
