extends layout

block content
  main#home
    h1.lg-heading David
      span.text-secondary  Lopez
    h2.sm-heading Web developer, programmer, designer & entrepeneur
    .icons
      a(href='#!')
        i.fab.fa-twitter.fa-2x
      a(href='#!')
        i.fab.fa-facebook.fa-2x
      a(href='#!')
        i.fab.fa-linkedin.fa-2x
      a(href='#!')
        i.fab.fa-github.fa-2x
